* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green-primary: #67bdb3;
  --red-light: #f36a6a;
  --light: #f4f4f4;
  --green-light: #a9d79d;
  --primary: #56ccf2;
  --primary-light: #cfe8ee;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
  --gray3: #828282;
}
body {
  background: linear-gradient(180deg, #cfe8ee 0%, #ffffff 100%);
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
#container {
  width: 90%;
  margin: auto;
}
.logo {
  font-family: "Saira Semi Condensed", sans-serif;
  color: var(--red-light);
}
.logo span {
  color: var(--green-primary);
}
.label {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.7em;
  font-family: "Saira Semi Condensed", sans-serif;
}

/*      Icon       */
.icon {
  width: 30px;
  height: 30px;
  fill: white;
}
#microphone {
  width: 70px;
  height: 70px;
  background-color: var(--primary);
  border-radius: 50%;
  padding: 1.25em;
}

/*                   Flex                    */

#content {
  display: grid;
  grid-template-columns: 1.2fr 1fr 2fr;
  grid-gap: 30px;
}
.item-grid {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
}

/*      Record       */
#record {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#recorded-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recorded {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid var(--gray5);
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.play-button {
  width: 25px;
  height: 25px;
}
.name-recorded {
  width: 100%;
}

/*      Online       */

#online-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.online-icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.online-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

/* Status */
.table-label {
  font-weight: bold;
}
.item-status {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-bottom: 1px solid var(--gray5);
  padding: 0.2em;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.target {
  justify-self: start;
}
.target-filename {
  color: var(--gray3);
  font-size: 0.8em;
}
.send {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.send-icon {
  width: 20px;
  height: 20px;
}

.response-icon {
  width: 25px;
  height: 25px;
}
